@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

;

video::-webkit-media-controls-play-button {}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

video::-webkit-media-controls-time-remaining-display {
  display: none;
}

video::-webkit-media-controls-mute-button {}

video::-webkit-media-controls-toggle-closed-captions-button {
  display: none;

}

video::-webkit-media-controls-volume-slider {
  display: none;
}

.container::-webkit-scrollbar { 
  display: none;  
}
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}